header{
    padding: 50px;
    background-color: blue;


}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: blue;
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

  input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Add hover effect for the submit button */
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  a:hover{
    text-transform: capitalize;
    padding: 20px;
    text-decoration: underline;
  }

  .border{
    animation-name: cls;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  @keyframes cls {
    0%{
        border-color: palevioletred;
        
    }
    50%{
        border-color: black;
        
    }
    100%{
        border-color: palevioletred;
        
    }
    
  }
  
  a.current {
    /* Your styles for the "current" link go here */
    pointer-events: none; /* Disables the link */
    text-decoration: none; /* Removes the underline */
    color: #888; /* Change the color to indicate it's disabled */
  }

  
#imgsize{
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-bottom: 20px;
    
  }

  @media (max-width:998px){

    h1{
        font-size: 15px;
    }

    #about-us{
        font-size: 15px;
        line-height: 1.5;
    }


    header{
        padding: 20px;
    }

    nav{
        font-size: 12px;
    }

    #imgsize{
        bottom: 1px;
        width: 50px;
        height: 30px;
        
    }
  }
  
